{
  "log": {
    "_recordingName": "Segments Integration Tests > get > retrieves a segment by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e35145f1426757232786d3d46a3d19ce",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test Segment for Get\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 94,
            "text": "{\"object\":\"segment\",\"id\":\"1c429758-4d0a-40ca-9a23-c53d3151bc48\",\"name\":\"Test Segment for Get\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"5e-M9p/d6gj5SqtQN/w8yk2dlkIRjA\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "19"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 414,
      },
      {
        "_id": "e595a526a3df2c24c504758eecf76f4d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.resend.com/segments/1c429758-4d0a-40ca-9a23-c53d3151bc48"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 139,
            "text": "{\"object\":\"segment\",\"id\":\"1c429758-4d0a-40ca-9a23-c53d3151bc48\",\"name\":\"Test Segment for Get\",\"created_at\":\"2025-10-21 17:48:00.256406+00\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"8b-GoBRl3vyVwuAypGOyLm3EXUOIRU\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=[...]
