{
  "log": {
    "_recordingName": "Segments Integration Tests > get > retrieves a segment by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e35145f1426757232786d3d46a3d19ce",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test Segment for Get\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 95,
            "text": "{\"object\":\"audience\",\"id\":\"2c75a20d-cc4f-4362-849d-f51243cc7f2c\",\"name\":\"Test Segment for Get\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"5f-Bfdo5eHfNpWvg6oUjUvTcuy60HE\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "16"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 155,
      },
      {
        "_id": "4f8ad51c60f5ce247237d0bb6a3ac6e8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.resend.com/segments/2c75a20d-cc4f-4362-849d-f51243cc7f2c"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 139,
            "text": "{\"object\":\"audience\",\"id\":\"2c75a20d-cc4f-4362-849d-f51243cc7f2c\",\"name\":\"Test Segment for Get\",\"created_at\":\"2025-10-17 15:43:30.62993+00\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"8b-izhWPIcwveQ8n7RnBAt9u3Lq9zM\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1[...]
