{
  "log": {
    "_recordingName": "Contacts Integration Tests > legacy contacts API endpoint > get > retrieves a contact by email",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b6434a9b8835188694e686780b261650",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for get by ID 2\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 102,
            "text": "{\"object\":\"segment\",\"id\":\"fb32e7aa-37d1-4c60-93ee-95e90c869e32\",\"name\":\"Test segment for get by ID 2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"66-od6xLtoigB1xa14h0YHbt5kDINQ\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "7"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 256,
      },
      {
        "_id": "e88a351cf8c8ef51eba3da4df4451239",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-get-by-email@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/fb32e7aa-37d1-4c60-93ee-95e90c869e32/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"845e582a-34d7-47c3-aeb0-1a88bdd05630\"}"
          },
          "headers": [
            {
              "name": "content-type",
  [...]
