{
  "log": {
    "_recordingName": "Contacts Integration Tests > legacy contacts API endpoint > get > retrieves a contact by email",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b6434a9b8835188694e686780b261650",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for get by ID 2\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 102,
            "text": "{\"object\":\"segment\",\"id\":\"64d16b38-507a-4d73-9bd9-7cbd64abbe3e\",\"name\":\"Test segment for get by ID 2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"66-hOP8+ODN6/qsv7JSVEwrxqAXMgM\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "97"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 181,
      },
      {
        "_id": "e19d3e8bd9c41160487d8c5486977cfd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-get-by-email@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/64d16b38-507a-4d73-9bd9-7cbd64abbe3e/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"7c8272c4-ed16-4d01-8202-17fb3b1a04ea\"}"
          },
          "headers": [
            {
              "name": "content-type",
  [...]
