{
  "log": {
    "_recordingName": "Contacts Integration Tests > legacy contacts API endpoint > list > lists contacts without pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "64d8f7ede42b49c32fb827e08c784680",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for listing 2\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 100,
            "text": "{\"object\":\"segment\",\"id\":\"a94f833b-16b3-4568-bf6c-c236db2a6b45\",\"name\":\"Test segment for listing 2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"64-V5IuWFIFJasCOIDxEqaBZauFiG8\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "9"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 304,
      },
      {
        "_id": "18b328c06b684a1c552ba6145a4bf422",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test.0@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/a94f833b-16b3-4568-bf6c-c236db2a6b45/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"d5f1650c-0013-48dc-99f1-00e289828e71\"}"
          },
          "headers": [
            {
              "name": "content-type",
             [...]
