{
  "log": {
    "_recordingName": "API Keys Integration Tests > remove > removes an API key",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "05263730684c691490237a1b79c06f65",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Integration Test Key to Remove\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/api-keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 108,
            "text": "{\"id\":\"77a60b3f-9567-48fd-a43b-172a2924414c\",\"object\":\"list\",\"token\":\"re_REDACTED_API_KEY\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6c-sVlFL3EgFTe7qcvu5MpcTkIbyxo\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "1"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 115,
      },
      {
        "_id": "27f23d182b524509f709b55ab0f284bf",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.resend.com/api-keys/77a60b3f-9567-48fd-a43b-172a2924414c"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 76,
            "text": "{\"object\":\"list\",\"id\":\"77a60b3f-9567-48fd-a43b-172a2924414c\",\"deleted\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4c-TP+KlL5zrGh22EVZJllaM5L3Aw4\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "0"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 115,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
