{
  "log": {
    "_recordingName": "Contacts Integration Tests > contacts API endpoint > create > handles validation errors",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7e36d93bf833d78073dab4d08fb175ea",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.resend.com/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 85,
            "text": "{\"statusCode\":422,\"message\":\"Missing `email` field.\",\"name\":\"missing_required_field\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"55-3twEi8WnC2GKqaYdAl7cGsmeByc\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "96"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 170,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
