{
  "log": {
    "_recordingName": "Contacts Integration Tests > get > retrieves a contact by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ed88a0d65efc2ef06d7d97751b5d6c79",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test audience for get by ID\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 102,
            "text": "{\"object\":\"audience\",\"id\":\"8ad0a4bc-897b-4dc6-9cb6-7e52f5cc163d\",\"name\":\"Test audience for get by ID\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"66-kY9l4F7yZU4E6WejINms8RmFE/Q\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "18"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 156,
      },
      {
        "_id": "4b5fa999d8c434c106162f448bafe147",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-get-by-id@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/8ad0a4bc-897b-4dc6-9cb6-7e52f5cc163d/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"5e26e74a-65db-452e-a6b6-a4fa4dd60afe\"}"
          },
          "headers": [
            {
              "name": "content-type",
     [...]
