{
  "log": {
    "_recordingName": "Contacts Integration Tests > contacts API endpoint > get > returns error for non-existent contact",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fd7a886fc92a31d06716d84f16285db5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.resend.com/contacts/00000000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 67,
            "text": "{\"statusCode\":404,\"message\":\"Contact not found\",\"name\":\"not_found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"43-Hlm9sCxABe1C/S9NDIZg0PaqfAM\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "7"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 293,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
