{
  "log": {
    "_recordingName": "Segments Integration Tests > get > returns error for non-existent segment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ca62098e714a9be90b780b671f4db454",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.resend.com/segments/00000000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 68,
            "text": "{\"statusCode\":404,\"message\":\"Audience not found\",\"name\":\"not_found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"44-8YrcNMtDwHD33MTo1ldKYcVY7RM\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "19"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 142,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
