{
  "log": {
    "_recordingName": "Contacts Integration Tests > remove > removes a contact by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e804c3a44a1cdbc7eacdf402a7b4f39e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test audience for remove by ID\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 105,
            "text": "{\"object\":\"audience\",\"id\":\"70771159-5b4e-476e-9783-35bd76c5aea8\",\"name\":\"Test audience for remove by ID\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"69-N7156RrBa/10i7mNjcWTamF3nmU\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "19"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 240,
      },
      {
        "_id": "8fa48ffd03607392f9088eb5ad03e4ae",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-remove-by-id@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/70771159-5b4e-476e-9783-35bd76c5aea8/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"a93069e5-3aa9-44de-9e18-ec9e2ebf1d8d\"}"
          },
          "headers": [
            {
              "name": "content-type",
  [...]
