{
  "log": {
    "_recordingName": "Contacts Integration Tests > contacts API endpoint > remove > removes a contact by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a08613c26d3136750d0e41fc41331f6d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for remove by ID 1\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 105,
            "text": "{\"object\":\"segment\",\"id\":\"08dbe661-bf6e-4636-bb9c-ac34eb0b79ed\",\"name\":\"Test segment for remove by ID 1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"69-up8KdIIhhvi6+9q2Le11v6C1bLQ\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "8"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 267,
      },
      {
        "_id": "09462940e94b3f4eff67a49ebacd39d6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-remove-by-id@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/08dbe661-bf6e-4636-bb9c-ac34eb0b79ed/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"7a620344-8e5e-47c8-bb82-0c7e769fc6d5\"}"
          },
          "headers": [
            {
              "name": "content-type",
  [...]
