{
  "log": {
    "_recordingName": "Contacts Integration Tests > contacts API endpoint > remove > removes a contact by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a08613c26d3136750d0e41fc41331f6d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for remove by ID 1\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 105,
            "text": "{\"object\":\"segment\",\"id\":\"5ec24658-7666-49a8-88d1-55e67e8611ff\",\"name\":\"Test segment for remove by ID 1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"69-75sLf90mObaqQIlYgIMDAyTBwHk\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "98"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 160,
      },
      {
        "_id": "497bed558e781af35ec59befcaf170e7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-remove-by-id@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/5ec24658-7666-49a8-88d1-55e67e8611ff/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"1e26f80e-8034-4277-a26f-71a2c889c5dc\"}"
          },
          "headers": [
            {
              "name": "content-type",
  [...]
