{
  "log": {
    "_recordingName": "Segments Integration Tests > remove > removes a segment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ffd095b200e0c2284c789f801615cb95",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test Segment to Remove\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 97,
            "text": "{\"object\":\"audience\",\"id\":\"41d7ea1f-1051-4729-bc25-d41891c134cf\",\"name\":\"Test Segment to Remove\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"61-PL/f7HrNiKHA+yv26tr1U4p7IkI\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "18"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 165,
      },
      {
        "_id": "a66d48410567e0350f9ccedf129e2fec",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.resend.com/segments/41d7ea1f-1051-4729-bc25-d41891c134cf"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 80,
            "text": "{\"object\":\"audience\",\"id\":\"41d7ea1f-1051-4729-bc25-d41891c134cf\",\"deleted\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"50-EO3XeZr+K953K4KwZPFXcDu4pR0\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "17"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 332,
      },
      {
        "_id": "73901f0ff8ac2462b72d6c296b7d26b0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.resend.com/segments/41d7ea1f-1051-4729-bc25-d41891c134cf"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 68,
            "text": "{\"statusCode\":404,\"message\":\"Audience not found\",\"name\":\"not_found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"44-8YrcNMtDwHD33MTo1ldKYcVY7RM\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "16"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 232,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
