{
  "log": {
    "_recordingName": "Contacts Integration Tests > list > lists contacts without pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5b20e71185afda27e38dc3d9b7f57624",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test audience for listing\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 100,
            "text": "{\"object\":\"audience\",\"id\":\"148a671b-3445-4d29-a79f-50e78b4b24ee\",\"name\":\"Test audience for listing\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"64-AfDuQHSdpSb+3bU91Tphho+O/mk\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "1"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 133,
      },
      {
        "_id": "e05dc1b2c3bcd17accf3d9b3bff793fd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test.0@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/148a671b-3445-4d29-a79f-50e78b4b24ee/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"bbe5b098-d2f4-46b1-b20c-433ade6a4bba\"}"
          },
          "headers": [
            {
              "name": "content-type",
             [...]
