{
  "log": {
    "_recordingName": "Contacts Integration Tests > contacts API endpoint > remove > removes a contact by email",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "24e7a9a54c7f84050ada8d4a153e9b44",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for remove by email 1\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 108,
            "text": "{\"object\":\"segment\",\"id\":\"d6a1792a-0a97-41aa-a3dd-7ebec2becceb\",\"name\":\"Test segment for remove by email 1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6c-7+rTxvd2FfeLYL5hDN7NZ/Gaj5s\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "97"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 171,
      },
      {
        "_id": "d6525a9958d57daf57b1af3fe7f3ca6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-remove-by-email@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/d6a1792a-0a97-41aa-a3dd-7ebec2becceb/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"c90700db-815a-4edd-a72e-853a31ea12c9\"}"
          },
          "headers": [
            {
              "name": "content-type",[...]
