{
  "log": {
    "_recordingName": "API Keys Integration Tests > create > creates an API key with sending access",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d3e4e4c44144a13ecf13a0f5d1108670",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Integration Test Sending Key\",\"permission\":\"sending_access\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/api-keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 108,
            "text": "{\"id\":\"02e47a5e-7f28-4160-9727-3e94b76bc500\",\"object\":\"list\",\"token\":\"re_REDACTED_API_KEY\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6c-ydVg3V3fIed3KNJhk0w1jJ7VAEk\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "1"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 132,
      },
      {
        "_id": "98e80477145aa5298b1981fff9ad8943",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.resend.com/api-keys/02e47a5e-7f28-4160-9727-3e94b76bc500"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 76,
            "text": "{\"object\":\"list\",\"id\":\"02e47a5e-7f28-4160-9727-3e94b76bc500\",\"deleted\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4c-YaVdiAnOP2T6rQNkwfC54ECUn4k\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "0"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 125,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
