{
  "log": {
    "_recordingName": "API Keys Integration Tests > create > creates an API key with full access",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "198a1d2479615ecf7495e1413a777c74",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Integration Test Key\",\"permission\":\"full_access\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/api-keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 108,
            "text": "{\"id\":\"690bd6a5-bbaf-4a7a-b379-8c883409de8c\",\"object\":\"list\",\"token\":\"re_REDACTED_API_KEY\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6c-RZPLOwIDFhfvliqGMu8VCai1QqI\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "1"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 172,
      },
      {
        "_id": "2bc5700d706513035ae27479d6ec6767",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.resend.com/api-keys/690bd6a5-bbaf-4a7a-b379-8c883409de8c"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 76,
            "text": "{\"object\":\"list\",\"id\":\"690bd6a5-bbaf-4a7a-b379-8c883409de8c\",\"deleted\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4c-tbhpwhD93PKjvi8JyXLo1NIVWU8\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "0"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 142,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
