{
  "log": {
    "_recordingName": "Contacts Integration Tests > update > updates a contact",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "67f4325e3459cfa40bc7bffaea69175a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test audience for update\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 99,
            "text": "{\"object\":\"audience\",\"id\":\"546f6a6a-1407-4ed6-9f9e-061ff0e9f806\",\"name\":\"Test audience for update\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"63-p/20qfR4eBJMmRhps2Z7c7ki6Yc\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "0"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 131,
      },
      {
        "_id": "80d3a0659966c921b30b53ceb2041cc2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-update@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/546f6a6a-1407-4ed6-9f9e-061ff0e9f806/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"b5955a5a-9dab-4e37-8b41-19c88a570bd9\"}"
          },
          "headers": [
            {
              "name": "content-type",
        [...]
