{
  "log": {
    "_recordingName": "Contacts Integration Tests > contacts API endpoint > list > lists contacts without pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "83e58161ced06c05af0cc1f63153593f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test.0@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"32cd6208-6e08-40b9-bdfe-0b5d6d6ce37b\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"40-oCf0ZoThdabXPeMRR8OgTcY0+0s\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 447,
      },
      {
        "_id": "2dbb7c24904530ede9712e7bcd591940",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text":[...]
