{
  "log": {
    "_recordingName": "Audiences Integration Tests > get > retrieves an audience by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d2182e2e249ebf70f05e83b4d9b046e2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test Audience for Get\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 96,
            "text": "{\"object\":\"audience\",\"id\":\"b479efee-b35f-47fa-9d7d-e5d5f8555cef\",\"name\":\"Test Audience for Get\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"60-x1LBwUM7+UCrf2fGpcufwePtwR4\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "16"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 142,
      },
      {
        "_id": "f4c10dd46bea00b8de85dbaf20094d63",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.resend.com/segments/b479efee-b35f-47fa-9d7d-e5d5f8555cef"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 141,
            "text": "{\"object\":\"audience\",\"id\":\"b479efee-b35f-47fa-9d7d-e5d5f8555cef\",\"name\":\"Test Audience for Get\",\"created_at\":\"2025-10-17 15:38:40.690601+00\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"8d-0ePfFDIip31DmUb5JqjzOChHN+Q\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=[...]
