{
  "log": {
    "_recordingName": "Audiences Integration Tests > get > retrieves an audience by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d2182e2e249ebf70f05e83b4d9b046e2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test Audience for Get\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 95,
            "text": "{\"object\":\"segment\",\"id\":\"608d4e2d-f5f3-42a6-8bfb-9da90b6316e9\",\"name\":\"Test Audience for Get\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"5f-eRrNsiyD7BwoBQRhMxHsI6J5rZw\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "16"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 139,
      },
      {
        "_id": "09649798d911024796f0e156eae8630e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.resend.com/segments/608d4e2d-f5f3-42a6-8bfb-9da90b6316e9"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 140,
            "text": "{\"object\":\"segment\",\"id\":\"608d4e2d-f5f3-42a6-8bfb-9da90b6316e9\",\"name\":\"Test Audience for Get\",\"created_at\":\"2025-10-21 17:47:52.582248+00\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"8c-1FQ3+QJKCtjF6djxHI696h01s/c\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=[...]
