{
  "log": {
    "_recordingName": "Contacts Integration Tests > legacy contacts API endpoint > remove > appears to remove a contact that never existed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e6d03079bb283d8b85cc77fb094c3dd7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for non-existent delete 2\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 112,
            "text": "{\"object\":\"segment\",\"id\":\"b263252c-61c6-4af7-aa7d-d5f8c5ea0450\",\"name\":\"Test segment for non-existent delete 2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"70-nrCOfIfRUwAvaClS09wDR8AO564\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "6"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 282,
      },
      {
        "_id": "65aab6d745b7674afba5b5b27f18a959",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.resend.com/audiences/b263252c-61c6-4af7-aa7d-d5f8c5ea0450/contacts/00000000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 84,
            "text": "{\"object\":\"contact\",\"contact\":\"00000000-0000-0000-0000-000000000000\",\"deleted\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"54-rfEgMCeqSJYc1agGuHEGmuCuACI\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
           [...]
