{
  "log": {
    "_recordingName": "Audiences Integration Tests > create > handles validation errors",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "69547be0d4508acfcb730bf8e485468b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 84,
            "text": "{\"statusCode\":422,\"message\":\"Missing `name` field.\",\"name\":\"missing_required_field\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"54-b7tWVBvPczzJWDVqTkO4kHnV3MM\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "17"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 128,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
