{
  "log": {
    "_recordingName": "Contacts Integration Tests > legacy contacts API endpoint > update > updates a contact",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "df81fce002a5b90e6ea20d2d20f1eddc",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for update 2\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 99,
            "text": "{\"object\":\"segment\",\"id\":\"51d94de3-be8f-4338-a9e0-efd719af809a\",\"name\":\"Test segment for update 2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"63-O1fg2OfxU1eK/9VvKQH81R8BIZk\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "8"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 281,
      },
      {
        "_id": "bee1d9e84bc56e8b9d49e1d27c76f399",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-update@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/51d94de3-be8f-4338-a9e0-efd719af809a/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"fc05fe4d-9487-4cc8-8d54-f2136d0e7ca1\"}"
          },
          "headers": [
            {
              "name": "content-type",
        [...]
