{
  "log": {
    "_recordingName": "Contacts Integration Tests > legacy contacts API endpoint > update > updates a contact",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "df81fce002a5b90e6ea20d2d20f1eddc",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for update 2\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 99,
            "text": "{\"object\":\"segment\",\"id\":\"51e47b84-1614-4bae-8413-3b12a35d5984\",\"name\":\"Test segment for update 2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"63-/26/ZH5w/+h9NDDHXEGz941H9Wc\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "98"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 189,
      },
      {
        "_id": "c993a590cec014c59ab29bb6f99c3508",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-update@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/51e47b84-1614-4bae-8413-3b12a35d5984/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"15d96bf0-0778-43dd-beb0-e5fcbed098e3\"}"
          },
          "headers": [
            {
              "name": "content-type",
        [...]
