{
  "log": {
    "_recordingName": "Audiences Integration Tests > create > creates an audience",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "58407851aec32b12e835bf9b5e7d41cc",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test Segment\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 86,
            "text": "{\"object\":\"segment\",\"id\":\"3f1e4daf-204e-4b96-bf69-6a567da76e60\",\"name\":\"Test Segment\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"56-qfG19NkGbeZB0nV/O/jZy649j70\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "19"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 323,
      },
      {
        "_id": "bd773a937405a4cd7f10a04d2eaab0a0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.resend.com/segments/3f1e4daf-204e-4b96-bf69-6a567da76e60"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"object\":\"segment\",\"id\":\"3f1e4daf-204e-4b96-bf69-6a567da76e60\",\"deleted\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4f-RV03htyYnxmUepbfNF0378P8Gxc\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "18"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 302,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
