{
  "log": {
    "_recordingName": "Audiences Integration Tests > remove > removes an audience",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "69ad88bb02d46c714f3985b02ea225e7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test Audience to Remove\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 98,
            "text": "{\"object\":\"audience\",\"id\":\"adee0536-bff3-4d0c-8e8b-aa9c4d7603ad\",\"name\":\"Test Audience to Remove\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"62-hrZl7qEd/u74uUck14lbdJuEH8Y\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "1"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 123,
      },
      {
        "_id": "8d200690d13a16dd7d02225e2fcd6ea8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.resend.com/audiences/adee0536-bff3-4d0c-8e8b-aa9c4d7603ad"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 80,
            "text": "{\"object\":\"audience\",\"id\":\"adee0536-bff3-4d0c-8e8b-aa9c4d7603ad\",\"deleted\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"50-RmTgR3D92HzLSC3lrlZGJzC/Ec8\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "0"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 380,
      },
      {
        "_id": "1fccbbd4bbefafb9777178ba8efaa09b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.resend.com/audiences/adee0536-bff3-4d0c-8e8b-aa9c4d7603ad"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 68,
            "text": "{\"statusCode\":404,\"message\":\"Audience not found\",\"name\":\"not_found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"44-8YrcNMtDwHD33MTo1ldKYcVY7RM\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "1"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 118,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
