{
  "log": {
    "_recordingName": "Contacts Integration Tests > contacts API endpoint > create > creates a contact",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "11ce2844c53df106f278d53fdf23e936",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for contact creation 1\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 109,
            "text": "{\"object\":\"segment\",\"id\":\"abd0e207-0192-48e6-b2b4-4214b8b2aaad\",\"name\":\"Test segment for contact creation 1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6d-XYsLMxITT86EP9Y8ORhfRQ5BwPg\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 833,
      },
      {
        "_id": "49eb0128fb4965181f570de9aa847bf1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test topic for contact creation 1\",\"default_subscription\":\"opt_out\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/topics"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 62,
            "text": "{\"object\":\"topic\",\"id\":\"c7a931cb-4507-46de-a3c1-e1b7efd274c2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
   [...]
