{
  "log": {
    "_recordingName": "Contacts Integration Tests > contacts API endpoint > get > retrieves a contact by email",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "91928cc4617639a2034b4278df307427",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-get-by-email@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"7c8272c4-ed16-4d01-8202-17fb3b1a04ea\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"40-heiKa1R1sYWT2rhn3Pu5CpmYVTc\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "97"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 288,
      },
      {
        "_id": "70c5e9377d072322ddac67f0c0bd118a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.resend.com/contacts/test-get-by-email@example.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 221,
            "text": "{\"object\":\"contact\",\"id\":\"7c8272c4-ed16-4d01-8202-17fb3b1a04ea\",\"email\":\"test-get-by-email@example.com\",\"first_name\":null,\"last_name\":null,\"created_at\":\"2025-11-30 20:39:59.540771+00\",\"unsubscribed\":false,\"properties\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"dd-qIzaKtcamGT6J9ousJWHXCIKORI\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "96"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 192,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
