{
  "log": {
    "_recordingName": "API Keys Integration Tests > remove > returns error for non-existent API key",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ec8b8412f62ae15fc83675f6e4d42f25",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.resend.com/api-keys/00000000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 67,
            "text": "{\"statusCode\":404,\"message\":\"API key not found\",\"name\":\"not_found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"43-W4pDo57J7V5dLLhL3pDbczLeGBU\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "1"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 122,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
