{
  "log": {
    "_recordingName": "Contacts Integration Tests > remove > removes a contact by email",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "26223e02c7e6371faa2f0ee268a6c27c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test audience for remove by email\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 108,
            "text": "{\"object\":\"audience\",\"id\":\"6084b604-13ba-4d48-8412-248ab5bbe237\",\"name\":\"Test audience for remove by email\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6c-2YvfE338LS5NqrbyiFmPlxmGJqc\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "0"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 136,
      },
      {
        "_id": "073e179e10f6201a270d033ac04d90c7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-remove-by-email@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/6084b604-13ba-4d48-8412-248ab5bbe237/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"d3c8869a-9e4d-4d9d-88f8-78ee1c813e0a\"}"
          },
          "headers": [
            {
              "name": "content-type",[...]
