{
  "log": {
    "_recordingName": "Contacts Integration Tests > list > lists contacts with limit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "27dc1ad8de477b198c1d2b9050b7fe03",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test audience for listing with limit\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 111,
            "text": "{\"object\":\"audience\",\"id\":\"59e81eca-46ce-44d8-a8c7-6eb2c2350f30\",\"name\":\"Test audience for listing with limit\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6f-nj0fLhvMB7bgJqryScghpVt/OA0\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "19"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 161,
      },
      {
        "_id": "e281e196584e342749f9137ef5f52b5e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test.0@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/59e81eca-46ce-44d8-a8c7-6eb2c2350f30/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"2ce5866a-84d9-4933-8d28-7ef402bb17d1\"}"
          },
          "headers": [
            {
              "name": "content-type",
             [...]
