{
  "log": {
    "_recordingName": "Contacts Integration Tests > list > lists contacts with limit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "27dc1ad8de477b198c1d2b9050b7fe03",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test audience for listing with limit\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 110,
            "text": "{\"object\":\"segment\",\"id\":\"fee5f31e-7721-4915-8439-3a8317c0d528\",\"name\":\"Test audience for listing with limit\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6e-I4+FHoFt8KXefQu5RhHmvcU9oPc\""
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-policy",
              "value": "20;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "17"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 146,
      },
      {
        "_id": "5b332b9d170253927d0643d4acbdf083",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test.0@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/fee5f31e-7721-4915-8439-3a8317c0d528/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"2ce5866a-84d9-4933-8d28-7ef402bb17d1\"}"
          },
          "headers": [
            {
              "name": "content-type",
             [...]
