{
  "log": {
    "_recordingName": "Contacts Integration Tests > contacts API endpoint > update > updates a contact",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ba2a557863a7d005f9095b5465588bb3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for update 1\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 99,
            "text": "{\"object\":\"segment\",\"id\":\"05281acd-6502-4401-a689-85684e56bd91\",\"name\":\"Test segment for update 1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"63-1QYCDrSSJcNFtWfVYqIfNwodGEM\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 193,
      },
      {
        "_id": "41e46e2010a4d68b785165fe1fe3eb19",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-update@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/05281acd-6502-4401-a689-85684e56bd91/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"15d96bf0-0778-43dd-beb0-e5fcbed098e3\"}"
          },
          "headers": [
            {
              "name": "content-type",
        [...]
