{
  "log": {
    "_recordingName": "Contacts Integration Tests > legacy contacts API endpoint > create > creates a contact",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4f9821c7b064673b64a3d2e6c10dad1a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for contact creation 2\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 109,
            "text": "{\"object\":\"segment\",\"id\":\"4f1fa0d6-a0d0-43fa-9512-8403225d0ed6\",\"name\":\"Test segment for contact creation 2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6d-CnOqNVqT6CHpjG8Ydva2kxFVkmQ\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "6"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 267,
      },
      {
        "_id": "64258613b670a8708e89fe3ef365adb5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test@example.com\",\"first_name\":\"Test\",\"last_name\":\"User\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/4f1fa0d6-a0d0-43fa-9512-8403225d0ed6/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"80ade1cb-6344-4876-bd9a-d0b2ef26f387\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "app[...]
