{
  "log": {
    "_recordingName": "Contacts Integration Tests > legacy contacts API endpoint > create > creates a contact",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4f9821c7b064673b64a3d2e6c10dad1a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for contact creation 2\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 109,
            "text": "{\"object\":\"segment\",\"id\":\"49f98685-5956-4f85-96f0-ac706edbac5b\",\"name\":\"Test segment for contact creation 2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6d-Zks4KfiAlVbaRf1M/8YCx76eQ4U\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "98"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 187,
      },
      {
        "_id": "8362b9e63080065fcf6f31776f16b013",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test@example.com\",\"first_name\":\"Test\",\"last_name\":\"User\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/49f98685-5956-4f85-96f0-ac706edbac5b/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"bacce9f0-7193-41b9-baf1-ad060e1be3f4\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "app[...]
