{
  "log": {
    "_recordingName": "Audiences Integration Tests > get > retrieves an audience by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "71e47db40a081d9cea9d924be3674468",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test Audience for Get\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 96,
            "text": "{\"object\":\"audience\",\"id\":\"b9aad85e-2b5a-42ed-bc13-487395888501\",\"name\":\"Test Audience for Get\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"60-2qNyMV2yRuemKADjxL9CSP83RUw\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "1"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 192,
      },
      {
        "_id": "48fa447339cb9fc7aa29a6bc77974fce",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.resend.com/audiences/b9aad85e-2b5a-42ed-bc13-487395888501"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 141,
            "text": "{\"object\":\"audience\",\"id\":\"b9aad85e-2b5a-42ed-bc13-487395888501\",\"name\":\"Test Audience for Get\",\"created_at\":\"2025-10-08 03:23:43.967943+00\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"8d-SNoapenSoTRhpYIVLTXBnNdI9RA\""
            },
            {
              "name": "ratelimit-limit",
              "value": "2"
            },
            {
              "name": "ratelimit-policy",
              "value": "2;w=1"[...]
