{
  "log": {
    "_recordingName": "Contacts Integration Tests > contacts API endpoint > get > retrieves a contact by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0a247d519432f31fbc23c59d76f10fe1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-get-by-id@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"9ce305ee-aafc-4b1d-8a4f-0564d190e3e4\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"40-kOUlkmCNfH4NzRQiYy9Mx3VV7Qo\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "2"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 322,
      },
      {
        "_id": "6e56d04997f9657fa1b37ca180b1e973",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.resend.com/contacts/9ce305ee-aafc-4b1d-8a4f-0564d190e3e4"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 218,
            "text": "{\"object\":\"contact\",\"id\":\"9ce305ee-aafc-4b1d-8a4f-0564d190e3e4\",\"email\":\"test-get-by-id@example.com\",\"first_name\":null,\"last_name\":null,\"created_at\":\"2026-09-27 21:17:05.474994+00\",\"unsubscribed\":false,\"properties\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"da-VUdazxtF9eO9jQgxjfw632Thg2M\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "1"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 246,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
