{
  "log": {
    "_recordingName": "Contacts Integration Tests > contacts API endpoint > get > retrieves a contact by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0a247d519432f31fbc23c59d76f10fe1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-get-by-id@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"e242c221-be74-4ff4-b8dc-0efb234dd6a1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"40-Db1lRTfeXvUi9lYlVNxnF6X7jJ4\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 284,
      },
      {
        "_id": "9ed15810f4e79f1f9c196706f2f2ed8d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.resend.com/contacts/e242c221-be74-4ff4-b8dc-0efb234dd6a1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 218,
            "text": "{\"object\":\"contact\",\"id\":\"e242c221-be74-4ff4-b8dc-0efb234dd6a1\",\"email\":\"test-get-by-id@example.com\",\"first_name\":null,\"last_name\":null,\"created_at\":\"2025-11-30 20:41:44.782119+00\",\"unsubscribed\":false,\"properties\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"da-irFfqWd48pWyj0zzbPbauK/FSe4\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "98"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 190,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
