{
  "log": {
    "_recordingName": "Contacts Integration Tests > contacts API endpoint > remove > appears to remove a contact that never existed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ee2505e9b6f3bd72f62eddbed4ddd680",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for non-existent delete 1\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 112,
            "text": "{\"object\":\"segment\",\"id\":\"447ec32d-8c5d-429b-b27e-f21ec4e4b94a\",\"name\":\"Test segment for non-existent delete 1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"70-Lr2/rjAWeWABV1vM+6GbA5jRK70\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "9"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 329,
      },
      {
        "_id": "9abd12f583d0554fc2ba1115f8a7c756",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.resend.com/audiences/447ec32d-8c5d-429b-b27e-f21ec4e4b94a/contacts/00000000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 84,
            "text": "{\"object\":\"contact\",\"contact\":\"00000000-0000-0000-0000-000000000000\",\"deleted\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"54-rfEgMCeqSJYc1agGuHEGmuCuACI\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
           [...]
