name: Pin Dependencies Check
on:
  push:
    branches:
      - main
  pull_request:
permissions: 
  contents: read
  pull-requests: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pin-dependencies-check:
    runs-on: buildjet-2vcpu-ubuntu-2204
    container:
      image: node:22-slim
      # credentials:
      #   username: ${{ vars.DOCKER_HUB_USERNAME || '' }}
      #   password: ${{ secrets.DOCKER_HUB_API_KEY || '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      - name: Check for pinned dependencies
        run: |
          node .github/scripts/check-pinned-dependencies.mjs
