name: PR Title Check
on:
  pull_request:
    types: [opened, edited, synchronize]
permissions: 
  pull-requests: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pr-title-check:
    runs-on: buildjet-2vcpu-ubuntu-2204
    container:
      image: node:22-slim
      # credentials:
      #   username: ${{ vars.DOCKER_HUB_USERNAME || '' }}
      #   password: ${{ secrets.DOCKER_HUB_API_KEY || '' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      - name: Run PR title check
        run: |
          node .github/scripts/pr-title-check.js
