name: Tests
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  tests:
    runs-on: buildjet-4vcpu-ubuntu-2204
    container:
      image: node:20
      credentials:
        username: ${{ vars.DOCKER_HUB_USERNAME || '' }}
        password: ${{ secrets.DOCKER_HUB_API_KEY || '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: pnpm setup
        uses: pnpm/action-setup@v4
      - name: Install packages
        run: pnpm install
      - name: Run Tests
        run: pnpm test
        env:
          SKIP_ENV_VALIDATION: true
