name: Tests
on:
  push:
    branches:
      - main
      - canary
  pull_request:
permissions: 
  contents: read
  pull-requests: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  tests:
    runs-on: buildjet-4vcpu-ubuntu-2204
    container:
      image: node:22-slim
      # credentials:
      #   username: ${{ vars.DOCKER_HUB_USERNAME || '' }}
      #   password: ${{ secrets.DOCKER_HUB_API_KEY || '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      - name: pnpm setup
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
      - name: Install packages
        run: pnpm install
      - name: Run Tests
        run: pnpm test
        env:
          SKIP_ENV_VALIDATION: true
