{
  "log": {
    "_recordingName": "Contacts Integration Tests > legacy contacts API endpoint > remove > removes a contact by email",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "24480380320a1e979ee060d7475b4f3d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for remove by email 2\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 108,
            "text": "{\"object\":\"segment\",\"id\":\"583da88a-79b0-407c-bb33-fe6b79487754\",\"name\":\"Test segment for remove by email 2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6c-BQfe8udAIt6QLDg4PF5+Yp6+hs8\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "96"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 499,
      },
      {
        "_id": "90622d316027c7f1f30cafe5f841b8fb",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-remove-by-email@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/583da88a-79b0-407c-bb33-fe6b79487754/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"c90700db-815a-4edd-a72e-853a31ea12c9\"}"
          },
          "headers": [
            {
              "name": "content-type",[...]
