{
  "log": {
    "_recordingName": "Contacts Integration Tests > legacy contacts API endpoint > remove > removes a contact by email",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "24480380320a1e979ee060d7475b4f3d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for remove by email 2\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 108,
            "text": "{\"object\":\"segment\",\"id\":\"4d4c1a0e-2ea9-48f7-aae7-2f205a937a04\",\"name\":\"Test segment for remove by email 2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6c-LSpZsNMK8gGpGNwce+Imjiqi/D0\""
            },
            {
              "name": "ratelimit-limit",
              "value": "10"
            },
            {
              "name": "ratelimit-policy",
              "value": "10;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "8"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 262,
      },
      {
        "_id": "3b8990b25d7c81101e99a9357de38d92",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-remove-by-email@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/4d4c1a0e-2ea9-48f7-aae7-2f205a937a04/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"0e306ec5-9e4f-4231-9a23-f2adeea5d0b2\"}"
          },
          "headers": [
            {
              "name": "content-type",[...]
