{
  "log": {
    "_recordingName": "Contacts Integration Tests > legacy contacts API endpoint > get > retrieves a contact by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b6434a9b8835188694e686780b261650",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test segment for get by ID 2\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/segments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 102,
            "text": "{\"object\":\"segment\",\"id\":\"4da58fea-b205-494c-817a-0a4a3be7139f\",\"name\":\"Test segment for get by ID 2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"66-C8ds1Am4HDI8pf3XczwLn3AsxgA\""
            },
            {
              "name": "ratelimit-limit",
              "value": "100"
            },
            {
              "name": "ratelimit-policy",
              "value": "100;w=1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "96"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 172,
      },
      {
        "_id": "cbc800e185b519040db78d2f6e529b7b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer re_REDACTED_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"test-get-by-id@example.com\"}"
          },
          "queryString": [],
          "url": "https://api.resend.com/audiences/4da58fea-b205-494c-817a-0a4a3be7139f/contacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"object\":\"contact\",\"id\":\"e242c221-be74-4ff4-b8dc-0efb234dd6a1\"}"
          },
          "headers": [
            {
              "name": "content-type",
     [...]
